<br/>
<div class="container d-flex justify-content-center align-items-center">  
  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
   <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <% f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control form-control-lg', placeholder:"Enter a valid email address" %>
      </div>

      <div class="form-group">
        <% f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'form-control form-control-lg', placeholder:"Enter password"  %>
      </div>


      <div class="form-group">
        <% f.label :password %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control form-control-lg', placeholder:"Confirm password"  %>
      </div>

      <div class="text-center text-lg-start mt-4 pt-2">
        <%= f.submit "Sign Up", class: 'btn btn-primary btn-lg', style:"padding-left: 2.5rem; padding-right: 2.5rem" %>
        <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account?
        <%= render "devise/shared/links" %>
      </div>

    <% end %>
  </div>
</div>





    